# Auto detect text files and perform LF normalization
* text=auto

# load pandas (always do this first)
import pandas as pd
import numpy as np

# load data from a downloaded data set
pol = pd.read_csv("Pittsburgh Police Firearm Seizures.csv", 
                                       index_col="year") # use the column named _id as the row index

pol_plot = pol['neighborhood'].value_counts()
